* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: sans-serif;
}
body {
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
    background:#b3bac5;    
} 
#Nome{
    font-size: 20px;  
}
.iphonebrasil{
    display: flex;
    align-items: center;
    color: white;
}      
.header > h1 {
    
    color: #1C1C1C;
    padding: 15px;
}
.header > p {
    padding: 15px;
}
.header > img {
    width:200px;
    border-radius: 10%;
    transition: .3s;
    cursor: pointer;
}
img.ico {
    margin-top: 15px;
    width:20px;
    border-radius: 10%;
    cursor: pointer;
}
img:hover {
    cursor: pointer;
    filter: grayscale(0);
    border-radius: 50%;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}
.about {
    background-color: #fff;
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
}
.about > h1 {				
    color: #1C1C1C;
    padding: 10px;
    font-size: 1.25em;
}
.detalhes > h1 {				
    color: #1C1C1C;
    padding: 10px;
    font-size: 1.25em;
}
.negrito {
    font-weight: 700;				
}
p {
    color: #404040;
    padding: 20px;
}
footer{
    color: #f7f2ee;
    width: 100%;
    padding: 50px 70px;
    background: black; 
}
.nav-rodapé{
    width: 100%;
    display:inline-flex;
    margin-bottom: 30px;
}
.preconteudo{
    width: 70%;
    border-right: 2px solid #7691ad;
    text-align: left;
}
.footerconteudo{
    width: 100%;
    text-align: center;
    image-rendering:optimizeQuality ;
    margin: 10px 0px 0px 0px;
}
.postconteudo{
    text-align: right;
    width: 70% ;
    border-left: 2px solid #7691ad;
}

.redes::after{
    font-size: 40px;
    margin-inline: 20px;
    content: "/";
    color: #7691ad;
    opacity: 0.3;
}
.redes:last-child:after{
    content: "";
}
.leitrascopy{
    border-top: 1px solid #7691ad;
    text-align: center;
    padding: 30px 0 0 0 ;
}
.footerconteudo2{
    
    margin: 50px;
}
header{
    padding: 20px 70px;
    background: black; 
    
}
.navigation{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navigation .logo{
    width: 50px;
    filter: brightness(200%);
}
.navigation ul{
    display: flex;
    align-items: center;
    gap: 60px;
}
.navigation ul li a{
    color:#888;
    font-weight: 600;
    padding-bottom: 10px;
}
.navigation ul li a:hover{
    color:white;
    border-bottom: 2px solid white;
}
.navigation .check{
    color: #fff;
    border-bottom: 1px solid #fff;
}
/* Cor do Botão de Login/Cadastro */
.cor-botao{
    color: white;
}